# Build
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
*.vcxproj*
*.sln

# Compiled files
*.exe
*.obj
*.o
*.out
*.pdb
*.ilk
*.lib
*.dll
*.a

# IDE / editor
.vs/
.idea/
.vscode/
*.user
*.userossc
*.suo
*.ncb
*.log

# OS files
Thumbs.db
.DS_Store